@use '../../sass/abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


header {
    background-image: url('../../assets/header.png');
    background-color: $airbeanPink;
    height: 113px;
    padding: 1rem;
    display: flex;
    >img:nth-child(1) {
        width: 48px;
        height: 48px;
        cursor: pointer;
    }
    >.cart-icon {
        right: 1rem;
    }
}