@use '../../sass/abstracts/' as *;
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.cart-overlay {
    position: absolute;
    width: 341px;
    border-radius: 3px;
    right: 50%;
    transform: translateX(50%);
    top: 4.5rem;
    background-color: white;
    padding: 2rem 1rem;
    h2 {
        font-family: 'PT Serif';
        font-weight: 700;
        font-size: 32px;
        line-height: 38.4px;
        text-align: center;
    }
    button {
        font-family: 'PT Serif';
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;
        color: white;
        border: unset;
        width: 248px;
        height: 55px;
        border-radius: 50px;
        background-color: $airbeanBrown;
        display: block;
        margin: auto;
        cursor: pointer;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

.nub {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 1px;
    top: -4px;
    right: 19px;
    background-color: white;
    transform: rotate(45deg);
}

.menu-page>.cart-icon {
    top: 1rem;
    right: 1rem;
}

.total-sum {
    margin-top: 4rem;
    h3 {
        font-family: 'PT Serif';
        font-weight: 700;
        font-size: 23px;
        line-height: 27.6px;
        color: $airbeanBrown;
        display: flex;
        span {
            margin-left: auto;
        }
    }
    p {
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 15.6px;
        color: $airbeanBrown;
    }
}