@use '../../sass/abstracts/' as *;

.menu-page {
    position: relative;
    width: $airBeanMinWidth;
    background-color: $airbeanBrown;
    margin: auto;
    main {
        h1 {
            text-align: center;
            padding: 1rem;
        }
        margin: auto;
        background-color: $airbeanPink;
        background-image: url('../../assets/footer.png');
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 8rem;
    }
}

.overlay-shadow {
    opacity: 0.35;
}